/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: $white;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid lighten($secondary, 71);

  &.header-scrolled {
    border-color: $white;
    box-shadow: 0px 2px 15px rgba($secondary, 0.08);
  }

  .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: $font-secondary;

    a {
      color: lighten($secondary, 5);
    }

    img {
      max-height: 40px;
    }
  }

  @media (max-width: 992px) {
    .logo {
      font-size: 28px;
    }
  }
}
